.container-slide {
  height: 16px;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 0;
  transition: all 0.2s ease-out;
  user-select: none;

  &__arrow {
    background-image: url("../img/container/container-slide/right-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 7px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s ease-out;
    padding: 10px;

    &_prev {
      margin-right: 8px;
    }

    &_next {
      transform: rotate(180deg);
    }

    &_active {
      opacity: 1;
    }
  }

  &_hide {
    opacity: 0;
  }
}
