.container {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 22px;
  overflow: hidden;
  position: relative;

  &__section {
    grid-row: span 1;
    position: relative;

    &_sect1 {
      grid-column: span 1;
      padding-bottom: 2px;
    }

    &_sect2 {
      grid-column: span 1;
      overflow: hidden;
    }

    &_sect3 {
      grid-column: span 2;
    }
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 600;
    padding-bottom: 20px;
    margin: 0;
  }

  &__main-block {
    width: 100%;
    min-width: 565px;
    height: 331px;
    background-image: url("../img/container/container__block/container__block_large/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: auto;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    &_after:after {
      content: "";
      position: absolute;
      background-image: url("../img/container/container__block/container__block_large/arrow.png");
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      bottom: 7px;
      right: 114px;
      animation: move 1s infinite ease-in-out;
    }

    @keyframes move {
      from {
        bottom: 7px;
      }
      50% {
        bottom: 14px;
      }
      to {
        bottom: 7px;
      }
    }
  }

  &__greeting {
    font-size: 1.6875rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 0;
  }

  &__pre-info {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 100;
    margin: 0;
  }
}
