.header {
  padding: 33px 40px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 90;

  &__link {
    font-size: 1rem;
    line-height: 20px;
    color: rgba($primary-text-color, 0.6);
    font-weight: 600;
    padding-right: 25px;

    &_active {
      color: $primary-text-color;
    }

    &:hover {
      color: #c00;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__menu {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-out;

    &_show {
      visibility: visible !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }
}
