.xiaomi-warm-flor {
  width: 100%;
  height: 221px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__mask {
    width: 100%;
    height: 221px;
    background-image: url("../img/xiaomi-warm-flor/oval_2.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    position: absolute;
    z-index: 1;
  }

  &__center-circle {
    position: absolute;
    display: inline-block;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
    z-index: 2;
  }

  &__arrow {
    position: absolute;
    background-image: url("../img/xiaomi-warm-flor/arrow.png");
    transform: rotate(-150deg);
    width: 12px;
    height: 8px;
    bottom: 10px;
    left: 44px;
  }

  &__arrow-move {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__counter {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}
