.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 22px 36px 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #858585;
    letter-spacing: 0.01px;
  }

  &__btn {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}
